<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/zhuye/semantic.css' %}" media="screen" title="no title">

  </head>
  <body>
    <form class="" action="index.html" method="post">
      {% csrf_token %}

      <h1>页面已经删除成功了~ </h1>
      <h6>我知道这个有点粗糙……麻烦手动返回下哟>_<</h6>
      <a name="name" value="返回" class="ui button" href="{% url 'desktop' %}">
        返回
      </a>
    </form>

  </body>
</html>
