<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <title>三六云</title>
        <link rel="stylesheet" href="{% static 'css/zhuye/semantic.css' %}" media="screen" title="no title">
        <link rel="stylesheet" href="{% static 'css/desktop.css' %}" media="screen" title="no title">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}" media="screen" title="no title">
    </head>
    <body>

        <div class="ui vertical segment hu">
            <div class="ui text menu">
                <a class="item"><img class="ui small image"src="{% static 'images/logo.png' %}"></a>
                <div class="right menu">
                    <div class="ui simple dropdown"style="padding:11px 0px 0 10px;margin-right:100px;">
                        <h5>
                            <p style="font-size: 20px;"><i class="plus icon"></i>新建 / 导入</p>
                        </h5>
                        <div class="menu">
                          <a href="{% url 'editor' %} " class="item"  style="height:44px">
                            <div class="item" style="color:black;  font-size: 15px;font-family: SimHei" ><i class="file icon"></i>
                                新建文档
                            </div>
                          </a>
                          <a href="{% url 'upload' %}" class="item" style="height:44px">
                            <div class="item" style="color:black;  font-size: 15px;font-family: SimHei"><i class="file text icon"></i>
                                导入文档
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="ui simple dropdown"style="padding-top:5px;">
                        {% if request.user.user_profile.avatar %}
                          <img class="ui mini image" src="/static/uploads/{{request.user.user_profile.avatar}}">
                        {% else %}
                          <img class="ui mini image" src="{% static 'images/默认头像.png' %}">
                        {% endif %}
                        <div class="menu">
                          {% if request.user.user_profile.avatar %}
                            <img class="ui tiny centered image" src="/static/uploads/{{request.user.user_profile.avatar}}">
                          {% else %}
                            <img class="ui tiny centered image" src="{% static 'images/默认头像.png' %}">
                          {% endif %}


                            <p style="text-align:center;font-size:20px;margin:0 100px 0 100px">
                              {{request.user.user_profile.nickname}}
                            </p>
                            <p style="text-align:center;font-size:10px">
                                全栈训练营全栈六组
                            </p>
                            <div class="active item">
                                  <a href="{% url 'logout' %}">
                                    <h4 class="ui center red aligned header">
                                      退出登录
                                    </h4>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui basic segment">
            <div class="ui basic segment dante">
                <h2>{{request.user.user_profile.nickname}}的个人首页</h2>
                <div class="ui divider"></div>
                <table class="ui very basic table">
                    <thead>
                        <tr>
                            <th><p class="meng">文档名</p></th>
                            <th><p class="meng">协作成员</p></th>
                            <th><p class="meng">最后保存时间</p></th>
                            <th><p class="meng">操作</p></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for article in art %}
                        <tr class="top aligned">

                          <td>{{article.headline}}</td>
                          <td>
                          {% for authorName in article.author.all %}
                              {{authorName.nickname}}
                          {% endfor %}
                          </td>
                          <td>{{article.save_time|date:'Y-m-d H:m:s'}}</td>
                          <td>
                              <a href="#"class="xue">编辑</a>
                              <a href="{% url 'deleteArt' article.id %}"class="xue">删除</a>
                              <a href="{% url 'downloadArt' article.headline %}"class="xue">导出</a>
                          </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
                <div class="ui center aligned very padded vertical segment container">
                  {% if art.has_previous %}
                  <a href="?page={{art.previous_page_number}}"  class="ui button"><i class="icon blue left arrow"></i></a>
                  {% else %}
                  <a href="#" class="ui disabled button"><i class="icon left arrow"></i></a>
                  {% endif %}

                  {% for p in page_range  %}
                        {% if p == art.number %}
                            <a href="?page={{p}}">
                              <div class="ui blue button">
                               {{p}}
                              </div>
                            </a>
                         {% else %}
                             <a href="?page={{p}}">
                               <div class="ui button">
                                {{p}}
                               </div>
                             </a>
                         {% endif %}

                  {% endfor %}


                  {% if art.has_next %}
                  <a href="?page={{art.next_page_number}}"  class="ui button"><i class="icon blue right arrow"></i></a>
                  {% else %}
                  <a href="#" class="ui disabled button"><i class="icon right arrow"></i></a>
                  {% endif %}
                </div>
            </div>

        </div>





    </body>
</html>
<!--
<div id="divshanchu">
  <div class="ui shanchu segment">
      <a style="color:black">确认操作</a>
      <a style="float:right;color:grey">X</a>
      <div class="shanchukongge"></div>
      <p>确认删除文档吗？</p>
      <p>删除后，所有协作者都无法访问此文档。</p>
      <div class="shanchukongge"></div>
      <div class="ui two column grid container">
          <div class="column">
              <button class="ui red button">确认删除</button>
          </div>
          <div class="column">
              <button class="ui black basic button" style="float:right">取消</button>
          </div>
      </div>
  </div>
</div>
-->
