<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>三六云-在线协作文档</title>
        <link rel="stylesheet" href="{% static 'css/zhuye/semantic.css' %}" media="screen" title="no title">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" media="screen" title="no title">
    </head>
    <body>
        <div class="ui text menu" style="margin:0px;height:50px;">
            <!-- <div class="ui item"></div>
            <div class="ui item"></div>
            <div class="ui item"></div> -->
            <div class="ui item">
                <a href="{% url 'index' %}"class="ui small image" style="margin-left:50px;">
                    <img src="{% static 'images/logo.png' %}" alt="" />
                </a>
            </div>
            <div class="right menu">
                <div class="ui item">
                    <a href="{% url 'index' %}" style="font-size:20px;color:rgb(18, 95, 185);">首页</a>
                </div>
                <div class="ui item"></div>
                {% if request.user.is_authenticated %}
                  <div class="ui item">
                      {% if request.user.user_profile.avatar %}
                      <img src="/static/uploads/{{request.user.user_profile.avatar}}" alt="" />
                      {% else %}
                      <img src="{% static 'images/默认头像.png' %}" alt="" />
                      {% endif %}
                      <a href="{% url 'desktop' %}" style="color:black;font-size:20px;">
                      Hi~你好,{{request.user.user_profile.nickname}}

                      </a>
                  </div>
                  <div class="ui item"></div>
                  <div class="ui item">
                      <!--<input style="width:70px; height:28px; border:black 1px solid;background-color:white;color:black;font-size:20px;" type="submit" name="button" value="注册"/>-->
                      <a href="{% url 'logout' %}">
                      <button class="ui black basic button" style="font-size:20px;padding:8px 15px;">
                          登出
                      </button>
                      </a>
                  </div>
                  {% else %}
                  <div class="ui item">
                      <a href="{% url 'login' %}" style="color:black;font-size:20px;">登录</a>
                  </div>
                  <div class="ui item"></div>
                  <div class="ui item">
                      <!--<input style="width:70px; height:28px; border:black 1px solid;background-color:white;color:black;font-size:20px;" type="submit" name="button" value="注册"/>-->
                      <a href="{% url 'register' %}">
                        <button class="ui black basic button" style="font-size:20px;padding:8px 15px;">
                          注册
                        </button>
                      </a>
                  </div>
                {% endif %}
                <div class="ui item"></div>
                <div class="ui item"></div>
                <div class="ui item"></div>
            </div>
        </div>

        <div class="ui divider" style="margin-top:0;"></div>

        <div class="ui fixed grid" style="height:500px;">
            <div class="ui six wide column">
                <div class="ui basic segment pos" style="position:relative;transform: translate(-50%,-50%);margin-left: 50%;margin-top: 35%;">
                    <h3 style="margin-bottom:30px;font-size:28px;width:300px;">
                        三六云：多人协作文档
                    </h3>
                    <a href="{% url 'register' %}">
                        <button type="button" name="button" class="ui black button" style="font-size:20px;">
                            免费注册
                        </button>
                    </a>
                </div>
            </div>
            <div class="ui ten wide column">
                <div class="ui basic segment">
                    <div class="ui image" style="margin-left:20px;margin-right:80px;object-fit:cover;">
                        <img src="{% static 'images/首页图1.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>

        <div class="ui vertical basic segment centerS">
            <h1 style="padding-top:20px;font-size:28px;" class="ui center aligned header">三六云是什么</h1>
            <h3 class="ui center aligned header" style="font-size:20px;">可多人编辑的在线文档</h3>
        <div class="ui vertical basic segment centerS" style="width:1000px;">
            <img class="ui centered image" style="object-fit:cover;" src="{% static 'images/首页图2.jpg' %}" data-evernote-hover-show="true">
            <div class="ui right floated basic segment" style="padding-right:50px;margin-right:0px;font-size:20px;">
                <i class="users icon"></i>
                多人协作
            </div>
            <div class="ui left floated basic segment" style="padding-left:50px;margin-left:0px;font-size:20px;">
                <i class="send icon"></i>
                一键导出
            </div>
        </div>
        </div>
        <div class="ui vertical basic segment centerS" style="background-color:black;margin-top:50px;">
            <div class="ui vertical basic segment centerS">

            </div>
            <h3 class="ui center inverted aligned header" style="font-size:28px;">步调一致，如此简单</h3>
            <div class="ui vertical basic segment centerS" style="width:160px;">
            <button type="button" name="button" class="ui black button" style="font-size:20px;">
                免费注册
            </button>
            </div>
            <div class="ui vertical basic segment centerS" style="color:White;width:200px;font-size:20px;">
            All Rights Reserved.
            </div>
        </div>
    </body>
</html>
