body{
    background-color: rgb(238, 238, 238);
}

a{
  font-size: 15px;
  font-family: SimHei;
  color: black;
}
a:link {
  font-size: 15px;
  font-family: SimHei;
  color: black;
}

.ui.vertical.segment.hu{
    padding:0;
    background-color: white;
}


.ui.fixed.vertical.segment.head {
    background-color: #F7F7F7;
    font-family: SimHei;
}

.ui.text.menu{
    padding-left: 50px;
    padding-right: 100px;
    margin: 0;
    height: 50px;
}
.ui.basic.segment.dante{
    margin: 0 200px 0 200px;
}
.meng{
    font-size:20px;
    color:rgb(179, 175, 175);
}
.top.aligned{
    font-size:20px;

}
.xue{
    color: black;
}
