.ui.segment.contain-body{
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  width: 480px;
  height: 668px;
}
.block-1{
  box-sizing: border-box;
  width: 296px;
  font-size: 14px;
  transform: translate(-50%,-50%);
  position: relative;
  left: 50%;
  top: 50%;
  font-family: SimHei;
}
#tittle{
  transform: translate(-50%,-50%);
  position: relative;
  left: 50%;
  text-align:center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  color: black;

}
.ui.image-title{
  display:block;
  width: 296px;
  transform: translate(-50%,0%);
  position: relative;
  left: 50%;
  top: 20%;
}

#register{
  border: 0 solid white;
  background-color:rgb(246, 246, 246);
}
#register-button{
  color: white;
  background-color: rgb(65, 65, 65);
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
}
.ui.center.aligned.container > a{
  color: black;
  font-weight: 600;
}
body{
  background-color:#F7F7F7;
}
